.pos-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    position: relative;
}
.pos-container .img{
    width: 50%;
}
.pos-container .img img{
    width: 100%;
    height: 100%;
}
.pos-container .pos-details{
    height: 50%;
    width: 45%;
    position: absolute; 
    bottom: 1px;
    right: 1px;
}
.pos-container .pos-details h2{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 2%;
}
.pos-container .pos-details p:not(p:last-of-type){
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #81AFDD;
    padding: 2%;
}
.pos-container .pos-details p:last-of-type{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    padding: 2%;
}



@media screen and (max-width:1050px) {

    .pos-container{
flex-direction: column;
    }
    .pos-container .img{
        width: 100%;
        height: 100%;
    }
    .pos-container .pos-details{
        display: none;
    }
    .pos-container .pos-details h2{
        font-size: 10px;
    }

}